.loginContainer {
  min-height: 781px;
  position: relative;
  top: 60px;
  margin-bottom: 140px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  gap: 129px;
}
.sideImage {
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  display: block;
}
.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.loginForm h1 {
  font-size: 36px;
  line-height: 30px;
  letter-spacing: 4%;
  font-weight: 500;
  color: black;
}
.loginForm h2 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: black;
  margin-top: 24px;
}
.inputForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 48px;
  width: 370px;
  height: 176px;
  margin-bottom: 40px;
}
.inputForm input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #515151;
  padding: 10px 0px;
  outline: none;
}
.inputForm input::placeholder {
  font-family: "Poppins", sans-serif;
  size: 16px;
  line-height: 26px;
  font-weight: 400;
}
.formButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.formButtons .signUpButton {
  height: 56px;
  background-color: #db4444;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  size: 16px;
  line-height: 26px;
  font-weight: 400;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.formButtons .signUpButton:hover {
  background-color: #a855f7;
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.formButtons .signUpGoogleButton {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  border: 1px solid #646464;
  border-radius: 4px;
  color: #000000;
  font-family: "Poppins", sans-serif;
  size: 16px;
  line-height: 26px;
  font-weight: 400;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.formButtons .signUpGoogleButton:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.backToLogIn {
  display: flex;
  justify-content: space-between;
  margin-top: 34px;
  font-family: "Poppins", sans-serif;
  size: 16px;
  line-height: 26px;
  font-weight: 400;
  border-radius: 4px;
}

.backToLogIn .logIn {
  cursor: pointer;
  transition: all 0.3s ease;
}
.backToLogIn .logIn:hover{
  transform: scale(1.05);
}
