@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";
@import "./variables.css";
@import "./mixins.css";
@import "./globals.css";
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
