:root {
  --color-bg: #242424;
  --color-text: rgba(255,255,255,0.87);
  --color-accent: #646cff;
  --color-accent-hover: #535bf2;

  --max-width: 1280px;
  --root-padding: 2rem;

  --btn-radius: 8px;
  --btn-padding: 0.6em 1.2em;
  --btn-bg: #1a1a1a;
}