:root {
  --color-bg: #ffffff;
  --color-text: #213547;
  --color-accent: black;
  --color-accent-hover: #747bff;
  --root-padding: 0rem;
  --btn-radius: 8px;
  --btn-padding: 0.6em 1.2em;
  --btn-bg: #f9f9f9;
}

.dark {
  --color-bg: #242424;
  --color-text: rgba(255, 255, 255, 0.87);
  --color-accent: black;
  --color-accent-hover: #535bf2;
  --btn-bg: #1a1a1a;
}
