.container {
  min-width: 210px;
  max-width: 260px;
  padding: 12px 0;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  margin-top: 10px;
  position: absolute;
  z-index: 1000;
  right: 0;
  height: auto;
}
.inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 18px;
  box-sizing: border-box;
}

.container ul {
  padding-inline-start: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 13px;
  color: #ffffff;
}

.container ul li {
  display: flex;
  align-items: center;
  gap: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  cursor: pointer;
  transition: all 0.3s ease;
}
.container ul li:hover {
  cursor: pointer;
  color: #ff6f61;
  transform: scale(1.05);
}
