.container {
  width: 224px;
  height: 208px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  margin-top: 10px;
  position: absolute;
  z-index: 1000;
  right: 0;
}
.inner {
  width: 192px;
  height: 180px;
  display: flex;
  flex-direction: column;
  margin: 18px 12px 10px 20px;
}

ul {
  height: 100%;
  padding-inline-start: 0;
  margin: 0px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 13px;
  color: #ffffff;
}

li {
  display: flex;
  align-items: center;
  gap: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  cursor: pointer;
  transition: all 0.3s ease;
}
li:hover {
  cursor: pointer;
  color: #ff6f61;
  transform: scale(1.05);
}
